In [1]:
#Import all the necessary libraries here
import numpy as np
import pandas as pd
import seaborn as sns

# Footwear
The given dataset contains the profits generated(in %) by all the suppliers of a footwear company in 4 major cities of India - Delhi, Mumbai, Jaipur and Hyderabad. The company wants to invest more money in the city that is showing the most promise. Analyse the dataset and answer the following questions.

In [2]:
#loading data
df=pd.read_csv("Footwear_v2.csv")

In [6]:
df.head()

     Supplier  Delhi Mumbai Jaipur Hyderabad
0  Supplier 1  4.57%  4.18%  7.90%     8.54%
1  supplier 2  2.60%  1.88%  8.99%     9.23%
2  supplier 3  2.26%  7.48%  6.71%     7.84%
3  supplier 4  6.47%  6.70%  7.94%     9.89%
4  supplier 5  6.82%  1.17%  8.54%     5.67%

## 1. Average
Q1)The absolute difference in the average profit percentages of Delhi and Mumbai comes out to be approximately ____

a) 1.67

b) 1.57

c) 1.77

d) 1.47

In [ ]:
#Your code here

## 2. Invest More
Q2) Which city amongst the four should the company invest more money in?

Hint: You need to see which city is showing most consistency in profits

a) Delhi

b) Mumbai

c) Jaipur

d) Hyderabad

In [ ]:
#Your code here

# Crypto Currencies

The following datasets contain the prices of some popular cryptocurrencies such as bitcoin, litecoin, ethereum, monero, neo, quantum and ripple.Now, you would like to know how the prices of these currencies vary with each other.

The datasets containing their price values over several days is mentioned. The attributes are as follows:

- Date - The date of trading
- Open - Opening Price
- High - Highest Price
- Low - Lowest Price
- Close - Closing Price
-  Volume - Total Volume
- Market Cap- Market Capitalisation

In [ ]:
df2=pd.read()

## 1. Correct Statements
Q1) Combine all the datasets by merging on the date column and create a dataframe with only the closing prices for all the currencies. Next, create a pair plot with all these columns and choose the correct statements from the given ones:

I)There is a good trend between litecoin and monero, one increases as the other

II)There is a weak trend between bitcoin and neo.

a)I

b)II

c)Both I and II

d)None of the above.

In [ ]:
#Your code here

## Heatmap
Q2)As mentioned earlier, Heat Maps are predominantly utilised for analysing Correlation Matrix. A high positive correlation (values near 1) means a good positive trend - if one increases, then the other also increases. A negative correlation on the other hand(values near -1) indicate good negative trend - if one increases, then the other decreases. A value near 0 indicates no correlation, as in one variable doesnâ€™t affect the other. 


a)Ethereum and Quantum have high correlation 

b)Neo and Bitcoin have pretty low correlation

c)Ethereum has similar correlation with litecoin and neo

In [ ]:
#Your code here